/*keep the original interface header on top of everything*/

#header {
    z-index: 9999 !important;
}

#subheader {
    z-index: 9999 !important;
}

.infocardRights {
    z-index: 9999 !important;
}


/*Dashboard couche 1*/

.quota {
    text-align: center;
    font-family: 'Arial';
    margin-right: 12px;
    line-height: 180%;
    -moz-box-shadow: 10px 10px 20px 0px #707070;
    -webkit-box-shadow: 10px 10px 20px 0px #707070;
    -o-box-shadow: 10px 10px 20px 0px #707070;
    box-shadow: 10px 10px 20px 0px #707070;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#707070, Direction=134, Strength=20);
}


/*Center content*/

.quotacontainer {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-40%);
}


/*advice COUCHE 2*/


/*Center content*/

#advicecontainer {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-40%);
}

#advice {
    text-align: center;
    font-family: 'Arial';
    margin-top: 3px;
    margin-bottom: 20px;
    margin-right: 12px;
    line-height: 180%;
    -moz-box-shadow: 10px 10px 20px 0px #707070;
    -webkit-box-shadow: 10px 10px 20px 0px #707070;
    -o-box-shadow: 10px 10px 20px 0px #707070;
    box-shadow: 10px 10px 20px 0px #707070;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#707070, Direction=134, Strength=20);
}

#legende {
    height: 100%;
    text-align: left;
    font-family: 'Arial';
    line-height: 150%;
    -moz-box-shadow: 10px 10px 20px 0px #707070;
    -webkit-box-shadow: 10px 10px 20px 0px #707070;
    -o-box-shadow: 10px 10px 20px 0px #707070;
    box-shadow: 10px 10px 20px 0px #707070;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#707070, Direction=134, Strength=20);
    overflow: scroll;
}

#frame {
    width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0;
	text-align: center;
	position: relative;
	display: flex;
    margin: 10px auto;
}


/*progressbar*/

#progressbar {
    position: relative;
    width: 100%;
    height: 4em;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    padding-bottom: 0;
    padding-top: 1em;
    left: 15%;
}

#progressbar li {
    list-style-type: none;
    color: grey;
    text-transform: uppercase;
    font-size: 0.6vw;
    width: 20.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 0.6vw;
    color: #13DB59;
    background: white;
    border-radius: 30px;
    margin: 0 auto 5px auto;
    -webkit-box-shadow: 0 6px 9px -4px black;
    -moz-box-shadow: 0 6px 9px -4px black;
    box-shadow: 0 6px 9px -4px black;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before, #progressbar li.active:after {
    background: #4fff8d;
    color: white;
}

#progressbar li.twice {
    font-size: 0.6vw;
}

#progressbar li.active.twice:before, progressbar li.active.twice:after {
    color: white;
    -webkit-box-shadow: 0 0 9px -4px #4fff8d;
    -moz-box-shadow: 0 0 9px -4px #4fff8d;
    box-shadow: 0 0 9px -4px #4fff8d;
    animation: greenneon 0.5s ease-out 0s alternate infinite none running;
}


/*Progress Circle cross levels*/

.progress-meter text {
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    border: solid 1px;
}

@keyframes greenneon {
    100% {
        -webkit-box-shadow: 0 0 9px 10px #4fff8d;
        -moz-box-shadow: 0 0 9px 10px #4fff8d;
        box-shadow: 0 0 9px 10px #4fff8d;
    }
    0% {
        -webkit-box-shadow: 0 6px 9px -4px #4fff8d;
        -moz-box-shadow: O 0 9px -4px #4fff8d;
        box-shadow: 0 0 9px -4px #4fff8d;
    }
}

.neonText-Lightgreen {
    font-size: 100px;
    padding: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #00ff66, 0 0 10px #00ff66, 0 0 15px #00ff66, 0 0 20px #00ff66, 0 0 25px #00ff66, 0 0 30px #00ff66;
    animation: greenneontype 0.5s ease-out 0s alternate infinite none running;
}

@keyframes greenneontype {
    100% {
        text-shadow: 0 0 5px #00ff66, 0 0 10px #00ff66, 0 0 15px #00ff66, 0 0 20px #00ff66, 0 0 25px #00ff66, 0 0 30px #00ff66;
    }
    0% {
        text-shadow: 0 0 0px #00ff66, 0 0 0px #00ff66, 0 0 0px #00ff66, 0 0 0px #00ff66, 0 0 0px #00ff66, 0 0 0px #00ff66;
    }
}

.neonText-blue {
    font-size: 100px;
    padding: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #25d7fb, 0 0 10px #25d7fb, 0 0 15px #25d7fb, 0 0 20px #25d7fb, 0 0 25px #25d7fb, 0 0 30px #25d7fb;
    animation: blueneontype 0.5s ease-out 0s alternate infinite none running;
}

@keyframes blueneontype {
    100% {
        text-shadow: 0 0 5px #25d7fb, 0 0 10px #25d7fb, 0 0 15px #25d7fb, 0 0 20px #25d7fb, 0 0 25px #25d7fb, 0 0 30px #25d7fb;
    }
    0% {
        text-shadow: 0 0 0px #25d7fb, 0 0 0px #25d7fb, 0 0 0px #25d7fb, 0 0 0px #25d7fb, 0 0 0px #25d7fb, 0 0 0px #25d7fb;
    }
}

.neonText-pink {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #ff4fff, 0 0 15px #ff4fff, 0 0 20px #ff4fff, 0 0 25px #ff4fff, 0 0 30px #ff4fff;
    animation: pinkneontype 1s ease-out 0s alternate infinite none running;
}

@keyframes pinkneontype {
    100% {
        text-shadow: 0 0 10px #ff4fff, 0 0 15px #ff4fff, 0 0 20px #ff4fff, 0 0 25px #ff4fff, 0 0 30px #ff4fff;
    }
    0% {
        text-shadow: 0 0 0px #ff4fff, 0 0 0px #ff4fff, 0 0 0px #ff4fff, 0 0 0px #ff4fff, 0 0 0px #ff4fff, 0 0 0px #ff4fff;
    }
}

h8 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: lighter;
    font-size: 1vw;
    line-height: 120%;
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 8px;
}

h9 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: lighter;
    font-size: 1.3vw;
    line-height: 120%;
    display: inline-block;
    padding-top: 1em;
}

h10 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Arial';
    font-style: normal;
    font-weight: lighter;
    font-size: 1.7vw;
    line-height: 120%;
    display: inline-block;
    color: rgb(0, 0, 0);
}

h11 {
    font-family: 'Arial';
    font-style: normal;
    padding-top: 2.7em;
    padding: 2.3em;
    font-weight: lighter;
    font-size: 1.2vw;
    line-height: 110%;
    display: inline-block;
    color: rgb(0, 0, 0);
}

h12 {
    font-style: normal;
    font-size: 1.5vw;
    line-height: 100%;
    display: inline-block;
}

h12:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px #707070 !important;
}

h13 {
    position: relative;
    padding-top: 0em;
    font-family: 'Arial';
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    font-size: 1.7vw;
    line-height: 115%;
    display: inline-block;
}

#revealgif {
    position: relative;
    font-family: 'Arial';
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
    font-size: 1.7vw;
    padding-top: 1.1em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 0;
    line-height: 110%;
}

.neon {
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 0 10px 30px #4fff8d, 10px 0 30px #4fff8d, 0 0 10px #4fff8d;
}

h14 {
    font-style: normal;
    font-size: 1.3vw;
    line-height: 110%;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 1.5em;
}

h15 {
    font-family: 'Arial';
    font-size: 1.2vw;
    line-height: 1.4vw;
    display: inline-block;
    padding: 15px;
    padding-top: 0;
    color: rgb(0, 0, 0);
}

h16 {
    font-family: 'Arial';
    font-weight: lighter;
    font-size: 1.5vw;
    line-height: 1.7vw;
    display: inline-block;
}

h7 {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1vw;
    line-height: 120%;
    display: inline-block;
    padding: 1.3em;
}

.button {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 1.5vw;
    width: 105em;
    height: 100%;
    margin-top: 15px;
    margin-left: 15px;
}

.button:onclick {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 1.5vw;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}

.button:hover {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 1.5vw;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    border-color: #4fff8d;
    box-shadow: 0 0 8px #4fff8d;
}

.buttonsmall {
    font-family: 'Arial';
    font-weight: thin;
    position: absolute;
    right: 0.8em;
    bottom: 0.8em;
    font-size: 0.7vw;
    margin-left: 1em;
}

.buttonsmall:hover {
    font-family: 'Arial';
    border-color: #4fff8d;
    box-shadow: 0 0 8px #4fff8d;
}

.BOX {
    position: relative;
    /*border:1px dashed red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.BOX img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

#accordion {
    padding-left: 15px;
}

#pink {
    color: #ff4fff;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 100%;
}

#green {
    color: #4fff8d;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 100%;
}

#blue {
    color: #003cff;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 100%;
}

#orange {
    color: #ffab00;
    font-size: 1.5vw;
    line-height: 100%;
    font-weight: 300;
}

ul {
    text-decoration: none;
    font-style: normal;
    list-style: none;
    display: inline-block;
}

ul .inner {
    font-family: 'Arial';
    font-size: 1.1vw;
    line-height: 1.3vw;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    color: #000000;
    padding-left: 1em;
    padding-top: 0.7em;
    margin-right: 1em;
    overflow: hidden;
    display: none;
}

ul .inner.show {
    text-decoration: none;
    /*display: block;*/
}

ul li {
    margin: .0em 0;
}

ul li a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0);
    padding: .45em;
    border-radius: 0.15em;
    transition: background .3s ease;
    text-decoration: none;
}

ul li a.toggle:hover {
    text-decoration: none;
    cursor: pointer;
    text-shadow: 2px 2px 2px #707070 !important;
}

.customAlert {
    display: none;
    position: fixed;
    max-width: 25%;
    min-width: 250px !important;
    min-height: 20%;
    height: 200px;
    left: 50%;
    top: 50%;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    margin-left: -12.5%;
    margin-top: -5.2%;
    line-height: 180%;
    -moz-box-shadow: 10px 10px 20px 0px #FA58F4;
    -webkit-box-shadow: 10px 10px 20px 0px #FA58F4;
    -o-box-shadow: 10px 10px 20px 0px #FA58F4;
    box-shadow: 10px 10px 20px 0px #FA58F4;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#FA58F4, Direction=134, Strength=20);
}

@media all and (max-width: 1300px) {
    .customAlert .message {
        font-size: 1.1vw;
    }
    .customAlert input[type='button'] {
        height: 15% !important;
    }
}

.customAlert .message {
    font-family: Arial, sans-serif;
    font-weight: 300 !important;
    width: 80%;
    margin: auto;
    color: black;
    font-size: 1.6vw;
    line-height: 130%;
    text-align: center;
    box-shadow: none;
}

.customAlert input[type='button'] {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    background: #ffffff;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    color: black;
}

.customAlert input[type='button']:hover {
    transition: 0.3s;
    cursor: pointer;
    background: white;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.buttonExplore {
    width: 200px;
    height: 30px;
    outline: 0;
    border: 0;
    font-family: 'Arial';
    color: black;
    font-weight: lighter;
    font-size: 1.2vw;
    position: relative;
    top: 1.7em;
    border-color: #4fff8d;
    box-shadow: 0 0 8px #4fff8d;
    display: inline-block;
}

.buttonExplore:hover {
    font-family: 'Arial';
    font-size: 1.2vw;
    border-color: #003cff;
    box-shadow: 0 0 10px #003cff;
}

.buttonExplore.active {
    -webkit-box-shadow: 0 0 9px -4px #4fff8d;
    -moz-box-shadow: 0 0 9px -4px #4fff8d;
    box-shadow: 0 0 9px -4px #4fff8d;
    animation: greenneon 0.5s ease-out 0s alternate infinite none running;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*.GIF{
    background-size: contain;
    height: 100%;
    width: auto;
    display:inline-block;
}*/


/*.image {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
}
background-image: url("chrome-extension://~/Desktop/Creativ coding/oracle_testsvisuels/src/css/internet.gif");
src: url("chrome-extension://~/Desktop/Creativ coding/oracle_testsvisuels/src/css/AGRegular.woff") format('woff');
